<div id="<%= dom_id entity %>">
  


  
      <div class='store-cont name-amount'>
        <p>
          <%= entity.name %>:
        </p>   
           
        <p>$<%= entity.amount %></p>   
      </div>     
  

  

  

</div>
