<div class='nav-section'>
  <nav class='nav-container'>
    <a class='logo' href="#">World carts</a>    
    <h2 class='title'>Carts</a>
    <h2><%= button_to 'Log out', destroy_user_session_path, method: :delete, class: 'log-out-xd' %></h2>      
  </nav>
</div>

<div class='page-cont'>
  <br>
  <div id="groups">
    <% @groups.each do |group| %>
    <%= render group %>   
    <% end %> 
    <br>
  </div>
  <%= link_to "New group", new_group_path, class: "new-group" %>
</div>