
<div class='home-cont'>

<h1 class='big-title'>World carts</h1>

<div class='add-store-btn'>


    <div class='add-cart'>
      <a class='green-btn' href='/users/sign_in'>Log in</a>
    </div>

    <div class='add-cart'>
      <a class='green-btn' href='/users/sign_up'>Sign up</a>
    </div>

    
    

</div>
    

    
</div>

