/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Add this to your application.css file */

* {
  padding: 1px;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  color: #434b54;
  overflow-x: hidden;
  font-family: proxima-nova, sans-serif;
}

html,
body {
  padding: 0%;
  min-height: 100%;
}

body {
  background-color: #e6e6e6;
  background-image: linear-gradient(to bottom, #c9c5c5, #a5a4a4);
}

.devise-cont {
  text-align: center;
}

.page-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#groups,
#entities,
.total-cont,
.total-cont1 {
  width: 95%;
}

#group_name,
#group_icon,
#entity_name,
#entity_amount, #user_email, #user_password, #user_name, #user_password_confirmation {
  width: 100%;
  height: 6vh;
  border: none;
  padding-left: 1vh;
}

input {
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

.store-cont,
.name-amount,
.total-cont,
.total-cont1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.store-cont {
  background-color: white;
  padding: 2vh;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.total-cont,
.total-cont1 {
  align-items: baseline;
  background-color: white;
  width: 100%;
  justify-content: center;
}

.total-cont1 {
  width: 80%;
  justify-content: space-between;
}

.total-cont {
  margin-bottom: 0.5vh;
}

.add-store,
.add-store1 {
  text-align: center;
  padding: 0;
}

.add-store1 {
  width: 100%;
  text-align: inherit;
}

.submit-btn {
  border: none;
  background-color: inherit;
}

.notice,
.alert {
  text-align: center;
}

.icon {
  width: 8vh;
  margin-right: 1vh;
}

.data-align {
  display: flex;
  align-items: center;
}

.nav-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-section {
  display: flex;
  background-color: #3778c2;
  background-image: linear-gradient(to bottom, #3778c2, #252d96);
  height: 13vh;
  align-content: center;
  align-items: center;
}

.nav-section1 {
  display: flex;
  background-color: #3778c2;
  height: 10vh;
  align-items: center;
  justify-content: center;
}

.log-nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.ul-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: baseline;
}

.log-out-button,
.log-out-button1,
.log-out-button2,
.new-group, .green-btn {
  background-color: #5fb523;
  border: solid 2px #5fb523;
  border-radius: 10px;
  color: white;
  font-size: 0.5em;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom, #5fb523, #3c8113);
  padding: 0;
}

.log-out-button2,
.new-group {
  font-size: 5vh;
  padding: 0.5vh 1vh;
  width: 95%;
  text-align: center;
}

.new-group {
  position: fixed;
  bottom: 0;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-store-btn {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 0;
}

.logo,
.title, .log-out-xd {
  color: white;
  font-size: 2vh;
}

.title {
  font-size: 5vh;
}

.log-out-button1, .green-btn {
  font-size: 5vh;
  padding: 0.5vh 1vh;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.input-style {
  width: 100%;
  background-color: white;
}

.home-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background-color: white;
}

.add-cart {
  margin: 0%;
  height: 15vh;
  display: flex;
  justify-content: center;
}

.big-title {
    font-size: 6vh;    
}

.green-btn {
    background-image: linear-gradient(to bottom, #3778c2, #252d96);
    border-color: #3778c2;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ccc;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    position: relative;
  }
  
  .log-out-xd {
    background-color: inherit;
    color: white;
    border: none;        
  }

  #user_password {
    margin-bottom: 2vh;
  }

  .minumun {
    display: none;
  }

  #user_password {
    margin-bottom: 1vh;
  }
 

